.d-flex{
    display: flex;
}

ul li{
    list-style: none;
    text-align: center;
    padding: 5px 7px;
}

.active{
    color: #3B8F09;
}

/* DEBUG */

.bug{
    background-color: rgba(225, 0, 0, 0.3);
}